
.content-table th {
          background-color: #000066;
          color: white;
        }

.content-table th,
.content-table td{
            padding: 20px 20px;
            text-align: center;
        }

.content-table tbody tr{
            font-size: 35px;
        }
.content-table tbody tr:nth-child(even) {
          background-color: #f2f2f2;
        }
