header h1{
    color: #002b80;
    font-size: 30px;
    text-align: center;
}


.content-table{
    width: 90vw;
    height: 90vh;
    border-collapse: collapse;
    margin: 25px 0;
    margin-left: auto;
    margin-right: auto;
    min-width: 500px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.15);
}

.content-table img{
    align-items: center;
    text-align: center;
}

.content-table img:hover{
    opacity: 75%;
    transition: ease-out 0.2s;
}

.content-table thead tr{
    background-color: #009879;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.content-table th {
  background-color: #000066;
  color: white;
}

.content-table th,
.content-table td{
    padding: 12px 20px;
    text-align: center;
}

.content-table tbody tr{
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    font-size: 30px;
}

.content-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}


.content-table tbody tr:last-of-type{
    border-bottom: 2px solid #009879;
}
